<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table>
        <tr>
            <th>
                BookId
            </th>
            <th>      
                BookName          
            </th>
            <th>        
                Author        
            </th>
            <th>
                Price
            </th>
            <th>
                Publisher
            </th>            
        </tr>
        <% for(var i=0;i<data.length;i++){ %>
            <tr>
                <td><%=data[i].BookId %></td>
                <td><%=data[i].BookName %></td>
                <td><%=data[i].Author %></td>
                <td><%=data[i].Price %></td>
                <td><%=data[i].Publisher %></td>
            </tr>
            <%
        } 
        %>
    </table>
    
</body>
</html>